

.leaflet-container-parent {
  position: relative;
}

.leaflet-container-parent .leaflet-container {
  position: absolute;
  height:200vh;
  width: 100%;
}


.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100%;
  position: relative;
  margin: 0;
}

.flexbox .col {
  flex: 0.5;
}

.flexbox .col2 {
  flex: 0.5;
  padding: 2em;
}

#router {
  position: relative;
  height: 100%;
  margin:0;
}
