.leaflet-container {
  height: 100vh;
  width: 100%;
  background-color: red;  
}


.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.flexbox .col {
  flex: 0.5;
}

.flexbox .col2 {
  flex: 0.5;
  padding: 2em;
}



