

.leaflet-container-parent {
  position: relative;
}

.leaflet-container-parent .leaflet-container {
  position: absolute;
  height:200vh;
  width: 100%;
}


.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.flexbox .col {
  flex: 0.5;
}

.flexbox .col2 {
  flex: 0.5;
  padding: 2em;
}



